<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="father-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `father-component`
     * &#39;Este es nuestro  contenedor padre&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FatherComponent extends Polymer.Element {
      static get is() { return 'father-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'father-component'
          }
        };
      }
    }

    window.customElements.define(FatherComponent.is, FatherComponent);
  </script>
</dom-module>
