<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../tabs-card/tabs-card.html">
<link rel="import" href="../tool-list/tool-list.html">
<link rel="import" href="../information-card/information-card.html">
<link rel="import" href="../succescard-element/succescard-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../tabletypec3-element/tabletypec3-element.html">

<dom-module id="father-component">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-tabs{
        background: rgb(255, 240, 163);
        display: flex;
        justify-content: space-around;
      }
      paper-tab:hover{
        background: rgba(255, 219, 67, 0.7);
      }
      tabletypec3-element{
        margin: 20px 0;
      }

    </style>

    <div class="tabs">
      <!-- <tabs-card></tabs-card> -->
      <paper-tabs selected="0" >
      <paper-tab>Tab 0</paper-tab>
      <paper-tab>Tab 1</paper-tab>
      <paper-tab>Tab 2</paper-tab>
      <paper-tab>Tab 3</paper-tab>
      </paper-tabs>
    </div>

    <div>
      <tabletypec3-element></tabletypec3-element>
    </div>

    <template is="dom-if" if="[[formVisible]]">
    <div>
      <tool-list></tool-list>
    </div>
    </template>

    <template is="dom-if" if="[[!formVisible]]">
    <div>
      <information-card></information-card>
    </div>
    </template>

    <div>
      <succescard-element></succescard-element>
    </div>
    <template is="dom-repeat" items="[[myArray]]">
    <h2>Hello [[item]]!</h2>
    </template>
  </template>

  <script>
    /**
     * `father-component`
     * &#39;Este es nuestro  contenedor padre&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FatherComponent extends Polymer.Element {
      static get is() { return 'father-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'father-component'
          },
          formVisible: {
            type: Boolean,
            value: true
          },
            myArray: {
            type: Array,
            value: () => ['uno', 'dos', 'tres']
          }
        };
      }
    }

    window.customElements.define(FatherComponent.is, FatherComponent);
  </script>
</dom-module>
